<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/clientes/css/styles.css">
    <title>Lista</title>
</head>
<body>
    <div class="container">
        <h1>Lista de Clientes</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Horário do Atendimento</th>
                </tr>
            </thead>
            <tbody id="clientesTable">
                <!-- Os clientes serão listados aqui -->
            </tbody>
        </table>
    </div>   
</body>
<script src="static/clientes/css/js/script.js"></script>
</html>