<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar</title>
    <link rel="stylesheet" href="static/clientes/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Atualizar Cliente</h1>
        <form id="updateForm">
            <select id="clienteId" required>
                <option value="">Selecione um cliente</option>
            </select>
            <input type="text" id="nomeUpdate" placeholder="Novo Nome" />
            <input type="text" id="cpfUpdate" placeholder="Novo CPF" />
            <input type="text" id="numeroSusUpdate" placeholder="Novo Número do SUS" />
            <input type="date" id="dataNascimentoUpdate" />
            <input type="time" id="horarioAtendimentoUpdate" />
            <button type="submit">Atualizar</button>
        </form>
    </div>
    
</body>
<script src="static/clientes/css/js/script.js"></script>
</html>