<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir</title>
    <link rel="stylesheet" href="static/clientes/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Excluir Cliente</h1>
        <form id="deleteForm">
            <select id="clienteIdDelete" required>
                <option value="">Selecione um cliente</option>
            </select>
            <button type="submit">Excluir</button>
        </form>
    </div>
    
</body>
<script src="static/clientes/css/js/script.js"></script>
</html>